@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --white: #fdfdfd;
    --green: #0f8a24;
    --bg-white: #d7d9d7;
}


body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 50vh;
    background-position: center;
    background-size: cover;
    border-left: 2px solid black;
    background-image: url('../assets/last.jpg');
}


.box{
    top: 70%;
    left: 20%;
    width: 50%;
    position: absolute;
    padding: 2rem;
    border-radius: 1rem;
    /* background-color: var(--bg-white); */
    background-color: red;
}


.box .title{
    color: var(--white);
    margin-bottom: 2rem;
}


.box .text{
    color: grey;
    font-weight: bold;
    margin-bottom: 2rem;
}


.box .notes{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--green);
}

ul {
    margin-left: 2rem;
}

li{
    color: grey;
}